.movie {
  display: flex;
  width: 44%;
  background-color: #fff;
  align-items: flex-start;
  margin-bottom: 70px;
  justify-content: space-between;
  font-weight: 300;
  padding: 20px;
  border-radius: 5px;
  color: #adaeb9;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.2);
}

.movie img {
  position: relative;
  max-width: 160px;
  width: 100%;
  top: -50px;
  margin-right: 30px;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.5);
}

.movie__title,
.movie__year {
  font-weight: 300;
  margin: 0;
}
.movie__title {
  margin-bottom: 5px;
  font-size: 24px;
  color: #2c2c2c;
}

.movie__genres {
  padding: 0;
  margin: 5px 0;
  display: flex;
  flex-wrap: wrap;
}

.movie__genres li,
.movie__year {
  font-size: 14px;
  margin-right: 14px;
}

.movie__column {
  width: 80%;
}